.segment-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  &::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }
}

ion-segment {
  display: inline-flex;
  min-width: 100%;
}

ion-segment-button {
  min-width: auto;
  --padding-start: 16px;
  --padding-end: 16px;
}
